.vs/
Assembly/*.exe
Assembly/*.smc
Assembly/*.srm
Assembly/*.lnk
Assembly/GlobalSettings.config
Assembly/PatchList.txt
Assembly/Games
Assembly/Profiles
Assembly/Test
project nested/bin
project nested/obj